<div class="app-container">
  <div class="welcome-header" *ngIf="numberOfBoxes === null">
    Welcome to TIC TAC TOE!
  </div>

  <form class="input-container" *ngIf="numberOfBoxes === null">
    <label for="user-input" class="label-input">Enter n</label>
    <input
      name="user-input-n"
      id="user-input"
      [(ngModel)]="numberOfBoxes"
    />
  </form>

  <ng-container *ngIf="numberOfBoxes">
    <app-game-board
      [noOfBoxes]="numberOfBoxes"
      [currentPlayer]="currentPlayer"
      (emitWinner)="stopGame($event)"
    ></app-game-board>
    <div class="turn-text" *ngIf="winner === null; else showWinner">
      Player {{currentPlayer + 1}}
    </div>
    <ng-template #showWinner>
      Player {{winner + 1}} has won!
      Refresh page to play again!
    </ng-template>
    <button (click)="changeTurn()" *ngIf="winner === null">Done!</button>
  </ng-container>
</div>
