<div class="app-container">
  <div class="welcome-header" *ngIf="numberOfBoxes === null">
    Welcome to TIC TAC TOE!
  </div>

  <form class="input-container" *ngIf="numberOfBoxes === null">
    <label for="user-input" class="label-input">Enter n</label>
    <input
      name="user-input-n"
      id="user-input"
      [(ngModel)]="numberOfBoxes"
    />
  </form>

  <ng-container *ngIf="numberOfBoxes">
    <app-game-board
      [noOfBoxes]="numberOfBoxes"
      [currentPlayer]="currentPlayer"
      (emitWinnerOrDrawGame)="stopGame($event)"
    ></app-game-board>
    <div class="turn-text" *ngIf="winner === null; else showWinnerOrDrawGameMsg">
      Player {{currentPlayer + 1}}
    </div>
    <ng-template #showWinnerOrDrawGameMsg>
      <ng-container *ngIf="winner === 2; else showWinnerMsg">
        Draw game!
      </ng-container>
      <ng-template #showWinnerMsg>
        Player {{winner + 1}} has won!
      </ng-template>
      Refresh page to play again!
    </ng-template>
    <button (click)="changeTurn()" *ngIf="winner === null">Done!</button>
  </ng-container>
</div>
