.board-container {
  display: flex;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 0px 1px 3px 4px black;
}

.board-cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-family: "Courier New", sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allow-click {
  cursor: pointer;
}

.disable-click {
  cursor: not-allowed !important;
}
